.main_div {
  width: 100%;
  height: 100vh;
 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center_div {
  width: 25%;
  height: 70vh;
  background-color:white;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.listInput {
  text-align: center;
  height: 30px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid rgb(103, 22, 128);
  outline: none;
  margin-right: 20px;
}

.newBtn {
  width: 50px;
  height: 55px;
  background-color: rgb(103, 22, 128) !important;
  color: white !important;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  border-radius: 50% !important;
}

.newBtn:hover {
  color: #16a085 !important;
  background: white !important;
}

/* //the add symbol inside the button in app comp */

.MuiSvgIcon-root {
  width: 2rem !important;
  height: 2rem !important;
}
.upload-btn {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 20px;
    width: 10rem;
    height: 3rem;
    color: white;
    background-color: rgb(103, 22, 128);
  }
.list {
  margin-top: 30px;

 
}
.list li {
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  /* min-height: 40px; */
  display: flex;
  align-items: center;
  color: #8566aa;
  text-transform: capitalize;
  /* list-style: disc; */
  /* list-style:none; */
}

.todo_style {
  display: flex;
  flex-direction: row;
  justify-content: left;
  /* align-items: center; */
}

.deleteIcon {
  
  padding: 5px;
  margin: 0 15px 0 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.2);
  background-color: transparent;
  color: black;
  border-radius: 50%;
  border: none;
  width: 25px;

  height: 25px;
  cursor: pointer;
  outline: none;
 
}
.backIcon{
background-color: white;
  margin-bottom:55rem;
  margin-left:5rem;
border:none
}
.backIcon:hover{
  background-color: #8566aa;
  color:white;
  border:black
}
.todo_style .deleteIcon:hover {
  background-color: transparent;
  color: crimson;
  box-shadow: 5px 5px 15px -5px rgba(255, 0, 0, 0.5);
}

.todo_style .fa-times:hover .list_style {
  color: crimson;
}

@media (max-width: 768px) {
  .center_div {
    width: 55%;
  }

  .todo_style .fa-times {
    margin: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 
}
